In [1]:
import pandas as pd
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [2]:
df = pd.DataFrame(data)
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [5]:
byComp = df.groupby('Company')

In [7]:
byComp.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [8]:
byComp.std()

              Sales
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

In [9]:
byComp.sum()

         Sales
Company
FB         593
GOOG       320
MSFT       464

In [11]:
byComp.sum().loc['FB']

ValueError: No axis named FB for object type <class 'pandas.core.frame.DataFrame'>