type()

In [1]:
num = "Hello"
type(num)

str

In [2]:
num = 10
type(num)

int

In [3]:
num = 10.4
type(num)

float

In [4]:
"b" + "c"

'bc'

In [5]:
"s" + 123 #this is not allowed - can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

Python Variables

In [6]:
name = "Pratibha"
print(name)

Pratibha

In [7]:
age = 30
age

30

In [8]:
#Assigning the multiple values
a=b=c=120

In [9]:
a
b
c

120

In [12]:
a,b,c = 10,15,20
print(a)
print(b)
print(c)

10
15
20

#Python Tokens
In Python, every logical line of code is broken into a components is known as Tokens
Keywords
Identifiers
Literals - raw data is given to variables, Literals types are string, numeric, boolean, special
Operators

In [13]:
password = "test123"
confirm_password = "test123"
password == confirm_password

True

In [15]:
# None is equalivant to null value, its return nothing only
isTrue = ""
print(isTrue)

In [17]:
isTrue = None
print(isTrue)

None

# Operators in Python - special symbol that are used to carry out arithematic and logical operations

Assignment
Arithematic
Bitwise
Comparision
Identity
Membership
Logical

In [19]:
nums = [1,2,3,4]
3 in nums

True

In [20]:
nums.append(8)

In [21]:
nums

[1, 2, 3, 4, 8]

In [22]:
nums.pop()

8

In [24]:
nums

[1, 2, 3, 4]

In [25]:
#string data type
strText = "Welcome"
len(strText)

7

In [27]:
strText[0:4]

'Welc'

In [28]:
strText[:4]

'Welc'

In [30]:
strText[3:]

'come'

In [50]:
strText = "Welcome to the worl of Python. Its awosome language."
strText

'Welcome to the worl of Python. Its awosome language.'

In [51]:
strText = strText.replace("awosome", "object oriented")

In [52]:
print(strText)

Welcome to the worl of Python. Its object oriented language.

In [53]:
#tuples
weeks = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")

In [54]:
type(weeks)

tuple

In [67]:
# List
salaries = [10000, 20000, 30000]

In [68]:
type(salaries)

list

In [69]:
#adding values to list
salaries[0] = salaries[0] + 5000

In [70]:
salaries

[15000, 20000, 30000]

In [71]:
salaries[1] += 5000
salaries

[15000, 25000, 30000]

In [72]:
salaries.append(35000)

In [73]:
salaries

[15000, 25000, 30000, 35000]

In [74]:
#Dictionaries
salaries = {"Pratibha": 25000, "Daksh": 35000, "Nilesh": 40000 }
salaries

{'Pratibha': 25000, 'Daksh': 35000, 'Nilesh': 40000}

In [75]:
type(salaries)

dict

In [76]:
# sets
myset = {1,2,3,4,1,1}

In [77]:
type(myset)

set

In [78]:
myset

{1, 2, 3, 4}