# Assignment 2

# Problem Statement:
Consider yourself to be Sam who is a data scientist. He has been invited as a guest lecturer at a college
to take an introductory session on Python.
Tasks to be performed:
1. Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60).
a. Concatenate the two tuples and store it in “t_combine”
b. Repeat the elements of “t_combine” 3 times
c. Access the 3rd element from “t_combine”
d. Access the first three elements from “t_combine”
e. Access the last three elements from “t_combine”
2. Create a list ‘my_list’ with these elements:
a. First element is a tuple with values 1,2,3
b. Second element is a tuple with values “a”,”b”,”c”
c. Third element is a tuple with values True,False
3. Append a new tuple – (1,’a’,True) to ‘my_list’
a. Append a new list – *“sparta”,123+ to my_list
4. Create a dictionary ‘fruit’ where:
a. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”)
b. The second key is ‘Cost’ and the values are (85,54,120,70)
c. Extract all the keys from ‘fruit’
d. Extract all the values from ‘fruit’
5. Crete a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result

In [8]:
'''Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60).
a. Concatenate the two tuples and store it in “t_combine” 
b. Repeat the elements of “t_combine” 3 times
c. Access the 3rd element from “t_combine” 
d. Access the first three elements from “t_combine”
e. Access the last three elements from “t_combine”
'''

#a. Concatenate the two tuples and store it in “t_combine”
firstTuple = (10,20,30)
secondTuple = (40,50,60)
t_combine = firstTuple + secondTuple
t_combine

(10, 20, 30, 40, 50, 60)

In [9]:
#b. Repeat the elements of “t_combine” 3 times
t_combine = ((t_combine,)*3)
t_combine

((10, 20, 30, 40, 50, 60), (10, 20, 30, 40, 50, 60), (10, 20, 30, 40, 50, 60))

In [11]:
#c. Access the 3rd element from “t_combine” 
t_combine[2][2]

30

In [14]:
#d. Access the first three elements from “t_combine”
t_combine[0][:3]

(10, 20, 30)

In [18]:
#e. Access the last three elements from “t_combine”
t_combine[2][-3:]

(40, 50, 60)

In [22]:
# 2. Create a list ‘my_list’ with these elements:

my_list=[]

In [23]:
#a. First element is a tuple with values 1,2,3
my_list = [(1,2,3)]
my_list

[(1, 2, 3)]

In [26]:
#b. Second element is a tuple with values “a”,”b”,”c”
my_list.append(('a','b','c'))
my_list

[(1, 2, 3), ('a', 'b', 'c')]

In [27]:
#c. Third element is a tuple with values True,False
my_list.append((True,False))
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

In [28]:
#3. Append a new tuple – (1,’a’,True) to ‘my_list’
new_tuple = (1,'a', True)
my_list.append(new_tuple)
my_list
#a. Append a new list – *“sparta”,123+ to my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True)]

In [32]:
#a. Append a new list – *“sparta”,123+ to my_list
new_list = ['*"sparta",123+']
my_list.append(new_list)
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), ['*"sparta",123+']]

In [37]:
#4. Create a dictionary ‘fruit’ where:
#a. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”)
#b. The second key is ‘Cost’ and the values are (85,54,120,70)

fruit = {"Fruit":('Apple','Banana','Mango','Guava'), "Cost":(85,54,120,70)}
print(fruit)

#d. Extract all the values from ‘fruit’
#5. Crete a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result

{'Fruit': ('Apple', 'Banana', 'Mango', 'Guava'), 'Cost': (85, 54, 120, 70)}

In [39]:
#c. Extract all the keys from ‘fruit’
fruit['Fruit']

('Apple', 'Banana', 'Mango', 'Guava')

In [40]:
#d. Extract all the values from ‘fruit’
fruit.values()

dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])

In [43]:
#5. Crete a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result 
my_set = {1,1,"a","a",True,True}
print(my_set)

{1, 'a'}