# Excerise

Question:
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,

between 2000 and 3200 (both included).

The numbers obtained should be printed in a comma-separated sequence on a single line.

In [8]:
nl = []
for x in range(2000, 2100):
    if(x%7 == 0) and (x%5 != 0):
        nl.append(str(x))
        
        
print(','.join(nl))
print(nl)

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093
['2002', '2009', '2016', '2023', '2037', '2044', '2051', '2058', '2072', '2079', '2086', '2093']

In [12]:
str = "test,"
#print(str)
print(str[:-1])

test

In [22]:
def fact(x):
    if(x == 0):
        return 1
    return x * fact(x - 1)

x = int(input("Enter a number: "))
x = fact(x)
print(x)

Enter a number: 5
120

In [26]:
n = int(input("Enter a number: "))
d = dict()

for i in range(1, n+1):
    d[i] = i * i
    
print(d)

d = {'key1': 'value1', 'data1': 'test'}
print(d)

Enter a number: 3
{1: 1, 2: 4, 3: 9}
{'key1': 'value1', 'data1': 'test'}

Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.

Suppose the following input is supplied to the program:

34,67,55,33,12,98

Then, the output should be:

['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

In [ ]:
numbers = input("enter numbers: ")
lst = numbers.split(",")
tuples = tuple(lst)
print(lst)
print(tuples)