In [20]:
import numpy as np
import pandas as pd

In [21]:
# Index level
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [22]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [23]:
inside

[1, 2, 3, 1, 2, 3]

In [24]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [15]:
pd.MultiIndex.from_tuples(hier_index)

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [25]:
df = pd.DataFrame(np.random.randn(6,2), hier_index, ['A','B'])

In [26]:
df

             A         B
G1 1 -0.407855 -2.108880
   2  0.609357  0.031792
   3 -0.024645  0.546035
G2 1  0.782886  0.153280
   2  1.273823  0.953573
   3  1.234943  0.654481

In [27]:
df.loc['G1']

          A         B
1 -0.407855 -2.108880
2  0.609357  0.031792
3 -0.024645  0.546035

In [29]:
df.loc['G2']

          A         B
1  0.782886  0.153280
2  1.273823  0.953573
3  1.234943  0.654481

In [30]:
df.loc['G1'].loc[1]

A   -0.407855
B   -2.108880
Name: 1, dtype: float64

In [32]:
df.index.names = ['Group','num']

In [33]:
df

                  A         B
Group num
G1    1   -0.407855 -2.108880
      2    0.609357  0.031792
      3   -0.024645  0.546035
G2    1    0.782886  0.153280
      2    1.273823  0.953573
      3    1.234943  0.654481

In [36]:
df.loc['G2'].loc[2]['B']

0.953572590090536

In [39]:
df.xs('G1').loc[2]['A']

0.6093574277032824

In [41]:
df.xs(2,level='num')

              A         B
Group
G1     0.609357  0.031792
G2     1.273823  0.953573